/* imio.project.core stylesheet */

/* align int/float column in a datagridfield on the right */
table.listing span.float-field, table.listing span.int-field {
    float: right;
}
table.datagridwidget-table-view input.float-field, table.datagridwidget-table-view input.int-field {
    text-align: right;
}

/* align numbers in budget infos table */
.budgetinfos_global_total, .budgetinfos_result, .budgetinfos_table TFOOT TD {
    text-align: right;
}
.budgetinfos_table TFOOT {
    font-weight: bold;
    border-top: 1px solid grey;
}

/* collapsible */
dl#container-collapsible.collapsedBlockCollapsible dt.collapsibleHeader {
    position: inherit;
    border-color: #496A93;
}
dl#container-collapsible.collapsedBlockCollapsible {
    border-style: solid;
    border-width: thin;
    border-color: #e7e7e7;
    height: auto;
}
