/* imio.project.core stylesheet */

/* align int/float column in a datagridfield on the right */
table.listing span.float-field, table.listing span.int-field {
    float: right;
}
table.datagridwidget-table-view input.float-field, table.datagridwidget-table-view input.int-field {
    text-align: right;
}

/* align numbers in budget infos table */
.budgetinfos_global_total, .budgetinfos_result, .budgetinfos_table TFOOT TD {
    text-align: right;
}
.budgetinfos_table TFOOT {
    font-weight: bold;
    border-top: 1px solid grey;
}